[coinmarketcap]
baseurl = https://api.coinmarketcap.com/v1
max_calls_per_minute = 2

[prowl]
# Prowl API settings - http://prowl.weks.net/api.php
# Set Prowl API key
api_key =
# Set Prowl priority. 0 - Normal, 2 - Emergency, -2 - Very Low
default_priority = 0
baseurl = https://prowl.weks.net/publicapi/add?

[cryptomon]
default_currency = ethereum
default_watch_price = 0
# default_range is the default +/- dollar range from the price at time of execution
default_range = 4

[exchanges]
supported_exchanges = gemini, coinbase

[gemini]
name = gemini
base_url = https://api.gemini.com/v1/
max_requests_per_minute = 30

[coinbase]
name = coinbase
base_url = https://api.coinbase.com/v2/
max_requests_per_minute = 10
